streamlit>=1.32.0
langchain>=0.1.12
openai>=1.14.0
openpyxl>=3.1.0
python-dotenv>=1.0.1
supabase>=2.3.5
python-Levenshtein>=0.23.0
pandas>=2.2.3
numpy==2.2.6
requests>=2.31.0
PyPDF2>=3.0.1
thefuzz>=0.22.1
tenacity>=9.1.2
python-docx>=1.1.2
streamlit-lottie==0.0.5
google-search-results==2.4.2
mem0ai==0.1.89
vecs>=0.4.5
langchain-openai
beautifulsoup4
google-generativeai>=0.3.0
fpdf2>=2.7.0
reportlab
PyMuPDF>=1.23.0
python-telegram-bot>=20.0
schedule>=1.2.0